@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.glossary-btn {
    color: red;
}

.padding {
    padding: 15px;
}

.extra-padding {
    padding: 50px;
}

.words {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display-4 {
    color: rgb(77, 77, 77);
}
.display-4:hover {
    cursor: pointer;
    color: rgb(20, 91, 104);
}

.word {
    width: 50%;
    text-align: center;
    padding: 30px 0;
}

.buttons{
    display: flex;
    justify-content: flex-start;
}

.buttons button {
    margin: 30px
}

footer {
    background-color: rgba(233, 233, 233, 0.5);
}

.display-4 {
    font-size: 2.5rem !important;
}

.display-3 {
    color: rgb(68, 68, 68);
}

.display-title {
    font-weight: 300;
    line-height: 1.2;
    color: rgb(77,77,77);
    font-size: 3.5rem;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem; 
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}

@media only screen and (max-width: 450px) {
    .word {
        width: 100%;
        text-align: left;
    }
        
}