@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
#root {
    background-color: #f3f3f3;
}
.glossary-btn {
    color: red;
}

.padding {
    padding: 15px;
}

.extra-padding {
    padding: 50px;
}

.words {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display-4 {
    color: rgb(77, 77, 77);
}
.display-4:hover {
    cursor: pointer;
    color: rgb(20, 91, 104);
}

.word {
    width: 50%;
    text-align: center;
    padding: 30px 0;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.buttons button {
    margin: 20px 25px 0 0;
    height: 38px !important;
    overflow: hidden;
}

.display-4 {
    font-size: 2.5rem !important;
}

.display-3 {
    color: rgb(68, 68, 68);
}

.display-title {
    font-weight: 300;
    line-height: 1.2;
    /* color: rgb(77,77,77); */
    color: rgb(240, 240, 240);
    font-size: 3.5rem;
}

footer {
    padding-top: 2rem; 
}
.myJumbo, footer {
    /* background-color: #3f3f3f !important; */
    background: linear-gradient(#5e5e5e, #17a2b8);
    color: #d5d5d5;
    border-radius: 0 !important;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}

#toggle-right {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 0;
}

.checkbox {
    display: flex;
}

@media only screen and (max-width: 450px) {
    .word {
        width: 100%;
        text-align: left;
    }
        
}
@media only screen and (max-width: 1200px) {
    .search-bar {
        height: 87px;
    }
        
}